<%- include('partials/template_header.ejs', { loggedIn: true }) %>

<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <!--<img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">-->

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0"><%= course.title %></h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/plattform/alle-kurse">Alle Kurse</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= course.title %></li>
            </ol>
        </nav>
        <!-- Masthead Subheading -->
        <!--<p class="masthead-subheading font-weight-light mb-0">Angemeldet - Geschützer Bereich - Let´s go</p>-->

    </div>
</header>

<!-- About Section -->
<section class="page-section mb-0">
    <div class="container">
        <% if (isAuthor) { %>
            <h2>
                Diese Herausforderung
                <a href="/plattform/alle-kurse/<%= course._id %>/bearbeiten" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                    &nbsp;
                    <span>Bearbeiten</span>
                </a>
                <a href="/plattform/alle-kurse/<%= course._id %>/loeschen" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    &nbsp;
                    <span>Löschen</span>
                </a>
            </h2>
            <br>
        <% } %>
        <div class="row">
            <div class="col col-xl-7">
                <p><%- course.description %></p>
            </div>

            <% if (course.courseInstances.length > 0) { %>
                <% if (isAuthor) { %>
                    <div class="col col-12 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="text-uppercase">Verfügbare Termine <a href="/plattform/alle-kurse/<%= course._id %>/neuer-termin" class="btn btn-primary">
                                        <i class="fa fa-plus"></i>
                                        &nbsp;
                                        <span>Neuer Termin</span>
                                    </a></h2>
                                <ul class="list-group list-group-flush">
                                    <% for (let i = 0; i < course.courseInstances.length; i++) { %>
                                        <li class="list-group-item">
                                            <h3><i class="fa fa-clock-o"></i>
                                                <script>
                                                    var d = moment('<%= course.courseInstances[i].date%>');
                                                    d.locale('de');
                                                    document.write(d.format('LLL'));
                                                </script>
                                            </h3>
                                            <h4><i class="fa fa-users"></i>&nbsp;<%= course.courseInstances[i].members.length %> Teilnehmer</h4>
                                            <a class="btn btn-primary" href="#" style="margin-right: 10px;">
                                                <i class="fa fa-at"></i>
                                                &nbsp;
                                                <span>E-Mail an alle</span>
                                            </a>
                                            <a href="#" class="btn btn-warning" style="margin-right: 10px;">
                                                <i class="fa fa-edit"></i>
                                                &nbsp;
                                                <span>Bearbeiten</span>
                                            </a>
                                            <a href="#" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                                &nbsp;
                                                <span>Löschen</span>
                                            </a>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="col col-12 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="text-uppercase">Herausforderung angehen</h2>
                                <ul class="list-group list-group-flush">
                                    <% for (let i = 0; i < course.courseInstances.length; i++) { %>
                                        <li class="list-group-item">
                                            <h3><i class="fa fa-clock-o"></i>
                                                <script>
                                                  var d = moment('<%= course.courseInstances[i].date%>');
                                                  d.locale('de');
                                                  document.write(d.format('LLL'));
                                                </script>
                                            </h3>
                                            <h4><i class="fa fa-users"></i>&nbsp;<%= course.courseInstances[i].members.length %> Teilnehmer</h4>
                                            <a href="/plattform/alle-kurse/<%= course._id %>/<%= course.courseInstances[i]._id %>/teilnehmen" class="btn btn-primary" style="margin-right: 10px;">
                                                <i class="fa fa-user"></i>
                                                &nbsp;
                                                <span>Alleine</span>
                                            </a>
                                            <a href="#" class="btn btn-primary">
                                                <i class="fa fa-users"></i>
                                                &nbsp;
                                                <span>Als Team</span>
                                            </a>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <% if (isAuthor) { %>
                    <div class="col col-12 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="text-uppercase">Verfügbare Termine</h2>
                                <a href="/plattform/alle-kurse/<%= course._id %>/neuer-termin" class="btn btn-primary">
                                    <i class="fa fa-clock-o"></i>
                                    &nbsp;
                                    <span>Neuer Termin</span>
                                </a>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="col col-12 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="text-uppercase">Nächste Herausforderung</h2>
                                <p>Noch steht leider kein neuer Zeitpunkt fest. Wir bitten um Geduld!</p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</section>

<%- include partials/template_footer.ejs %>
