<%- include template_header.ejs %>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Oh nein... Ein Fehler!</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Error Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1><%= message %></h1>
                <h2><%= error.status %></h2>
                <pre><%= error.stack %></pre>
            </div>
        </div>
    </div>
</header>


<%- include template_footer.ejs %>

